<%- include('includes/head.ejs') %>

    <body>
        <h2>This Instagram page belongs to @<%= data.name %>
        </h2>
        <button>Follow</button>
        <button>Message</button>

        <p>Followers : <%=data.followers%> &nbsp;&nbsp;&nbsp; Following : <%=data.following%>
        </p>
        <hr>

        <% for(let post of data.posts){%>
            <img src="<%= post.image %>" alt="image">
            <p>Likes : <%=post.likes%> &nbsp;&nbsp;&nbsp; Comments : <%=post.comments%>
            </p>
            <% } %>

                <%- include('includes/footer.ejs') %>

                    <script src="/js/app.js"></script>
    </body>

    </html>